<div class="widget-box" id="DashboardOrder">
	<div class="widget-header widget-header-flat widget-header-small main-bg">
		<h4 class="widget-title white-color">Tỷ lệ số lượng các SP đã bán(%)</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<div id="productQtyReport" style="width: 0%; height: 0px;"></div>
			<highchart config="chartConfig"></highchart>
		</div>
	</div>
	<div> {{online}}ssss</div>
	<div class="widget-box" >
		<div class="widget-header widget-header-flat widget-header-small">
			<h5 id="dashboard_amountOrders">Tỷ lệ doanh số đơn hàng trong 6 tháng gần nhất(%)</h5>
		</div>
		<div class="widget-body">
			<div class="widget-main">
				<div id="orderAmount" style="width: 0%; height: 0px;"></div>
				<highchart config="chartConfig1">
					</highchart-fuck>
			</div>
		</div>
	</div>
	<div class="hr hr10 hr-dotted"></div>
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<div class="widget-box">
				<div class="widget-header widget-header-flat widget-header-small main-bg">
					<h5 class="widget-title"><i class="icon-signal"></i><span id="dashboard_bestCustomers">Khách hàng có tổng GT đơn hàng lơn nhất</span></h5>
					<div class="widget-toolbar no-border">
						<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
							<span id="dashboard_monthBtnCus">Tháng này</span><i class="icon-angle-down icon-on-right"></i>
						</button>
						<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
							<li id="dashboard_liThisMonthCus" class="active">
								<a onclick="updateBestCus('thisMonth')">Tháng này</a>
							</li>
							<li id="dashboard_liLastMonthCus">
								<a onclick="updateBestCus('lastMonth')">Tháng trước</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<div id="piechart-placeholder" style="width: 90%; min-height: 150px; padding: 0px; position: relative;">
							<highchart config="chartConfig2"></highchart>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="vspace"></div>
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<div class="widget-box">
				<div class="widget-header widget-header-flat main-bg">
					<h4 class="widget-title"><i class="icon-calendar blue"></i><span id=""><i class="glyphicon glyphicon-calendar"></i> &nbsp;Các sự kiện trong tháng</span></h4>
					<div class="widget-toolbar no-border">
						<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
							<span id="">Tháng này</span>
							<i class="icon-angle-down icon-on-right"></i>
						</button>
						<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
							<li class="active" id="dashboard_liThisMonth">
								<a id="" onclick="updatePopuLarProduct('thisMonth');">Tháng này</a>
							</li>
							<li id="dashboard_liLastMonth">
								<a id="" onclick="updatePopuLarProduct('lastMonth');">Tháng trước</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner">
						<div class="widget-main no-padding">
							<table id="table_report" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th><i class="icon-caret-right blue"></i><span id="dashboard_nameBestProduct">Sự kiện</span></th>
										<th><i class="icon-caret-right blue"></i><span id="dashboard_quantityBestProduct">Thời gian</span></th>
										<th><i class="icon-caret-right blue"></i><span id="dashboard_quantityBestProduct">Doanh số</span></th>
									</tr>
								</thead>
								<tbody>

									<tr ng-repeat="data in dataPolicysDetail">
										<td ng-if="data.policyName">{{data.policyName}}</td>
										<td ng-if="!data.policyName"></td>
										<td ng-if="data.fromDate && data.thruDate">Từ ngày  {{data.fromDate}}  đến ngày  {{data.thruDate}}</td>
										<td ng-if="data.fromDate && !data.thruDate">Từ ngày  {{data.fromDate}} </td>
										<td ng-if="data.amount">{{data.amount | currency}}</td>
										<td ng-if="!data.amount"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="hr hr-10 hr-dotted"></div>
	<div class="row" >
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="bestPurchaseProduct">
			<div class="widget-box">
				<div class="widget-header widget-header-flat main-bg">
					<h4 class="widget-title"><i class="icon-star orange"></i><span id="dashboard_bestProduct"> <i class="glyphicon glyphicon-usd"></i>&nbsp;5 SP bán chạy nhất</span></h4>
					<div class="widget-toolbar no-border">
						<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
							<span id="dashboard_monthBtn">Tháng này</span>
							<i class="icon-angle-down icon-on-right"></i>
						</button>
						<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
							<li class="active" id="dashboard_liThisMonth">
								<a id="thisMOnclick" ng-click = "updatePopuLarProduct('thisMonth');">Tháng này</a>
							</li>
							<li id="dashboard_liLastMonth">
								<a id="lastMOnclick" ng-click = "updatePopuLarProduct('lastMonth');">Tháng trước</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-body-inner">
						<div class="widget-main ">
							<table id="table_bug_report" class="table table-bordered table-striped" >
								<thead>
									<tr>
										<th><i class="icon-caret-right blue"></i><span id="dashboard_nameBestProduct">Tên SP</span></th>
										<th><i class="icon-caret-right blue"></i><span id="dashboard_quantityBestProduct">Số lượng</span></th>
									</tr>
								</thead>
								<tbody >
									<tr ng-repeat="data in dataProduct" >
										<span ng-if="data"> <td>{{data.productReport}}</td> <td>{{data.quantity}}</td> </span>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vspace"></div>
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 infobox-container" ng-click="viewDetailOrder()">
			<div class="infobox-container" id="orderDetail">
				<span class="width-80 label label-info label-xlg arrowed-in arrowed-in-right"><h4 class=" col-xs-12 col-md-12 white-color" style="margin-top:-2px;">Thống kê đơn hàng</h4></span>
				<!-- <h4 class="widget-title col-xs-12 col-md-12 width-80 label label-info label-xlg arrowed-in arrowed-in-right center">Thống kê đơn hàng</h4> -->
				<div class="row">
					<div class="table-responsive">
						<table class="table">
							<tr>
								<td><span ><i class="glyphicon glyphicon-shopping-cart"></i> Đh tạo hôm nay</span></td>
								<td><span  id="orders_created" >{{dataOrderDetail.dayOrder}}</span></td>
							</tr>
							<tr>
								<td><span ><i class="glyphicon glyphicon-ok"></i></i>ĐH hoàn thành hôm nay</span></td>
								<td><span  id="orders_complete" > {{dataOrderDetail.dayComplete}}</span></td>
							</tr>
							<tr>
								<td><span class="infobox-icon"><i class="glyphicon glyphicon-trash"></i>ĐH bị hủy hôm nay</span></td>
								<td><span  id="orders_canceled">{{dataOrderDetail.dayCancelled}}</span></td>
							</tr>
							<tr>
								<td><span><i class="glyphicon glyphicon-shopping-cart">ĐH chờ thanh toán</span></td>
								<td><span  id="waiting_payment">{{dataOrderDetail.waitingPayment}}</span></td>
							</tr>
							<tr>
								<td><span><i class="glyphicon glyphicon-shopping-cart"> ĐH chờ được duyệt</span></td>
								<td><span  id="waiting_complete">{{dataOrderDetail.waitingComplete}}</span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
