<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div id='external-events'>
			<div class="">
				<a href="#/sale/showup" class="btn btn-salesman btn-inventory"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-list-alt bigger-300"></i><br>
						<div class="text">Chương trình
											trưng bày</div>
					</div>
				</div></a>
			</div>
			<div class="">
				<a href="#/sale/product-sale" class="btn btn-salesman btn-sync"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-tag bigger-300"></i><br>
						<div class="text">Chương trình
											khuyến mãi</div>
					</div>
				</div></a>
			</div>
			<div class="">
				<a href="#/sale/accumulate" class="btn btn-salesman btn-create-order"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-database bigger-300"></i><br>
						<div class="text">Chương trình
											tích lũy</div>
					</div>
				</div></a>
			</div>
			<!-- <div class='external-event label-success' data-class="label-grey">
				<i class=" fa fa-tag white-color"></i><a href="#/sale/showup" class="white header-sale"> Chương trình
					trưng bày </a>
			</div>
			<div class='external-event label-important'
				data-class="label-success">
				<i class=" fa fa-tag white-color"></i><a href="#/sale/product-sale"  class="white header-sale"> Chương
					trình KM theo đơn</a>
			</div>
			<div class='external-event' data-class="label-primary">
				<i class=" fa fa-tag white-color"></i><a href="#/sale/accumulate"  class="white header-sale">Chương trình
					tích lũy</a>
			</div> -->
		</div>

	</div>
</div>
