<div class="row"
	style="margin-top: -8px; padding-top: 8px; background: rgb(0, 113, 69); padding-bottom: 30px; margin-bottom: -30px;">
	<div class="col-xs-12" id="mainAction">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/inventory" class="btn btn-salesman btn-inventory"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-check bigger-300"></i><br>
						<div class="text">Kiểm tra hàng tồn</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/order/false" class="btn btn-salesman btn-order"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-list-alt bigger-300"></i><br>
						<div class="text">Đơn hàng</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/order/create" class="btn btn-salesman btn-create-order"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-shopping-cart bigger-300"></i><br>
						<div class="text">Tạo đơn hàng</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/product" class="btn btn-salesman btn-product"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-suitcase bigger-300"></i><br>
						<div class="text">Sản phẩm</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/customer" class="btn btn-salesman btn-customer"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-user bigger-300"></i><br>
						<div class="text">Khách hàng</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/location" class="btn btn-salesman btn-calendar"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-map-marker bigger-300"></i><br>
						<div class="text">Bản đồ</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/sale" class="btn btn-salesman btn-promotion"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-tag bigger-300"></i><br>
						<div class="text">Chương trình khuyến mại</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/portal" class="btn btn-salesman btn-portal"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-info-circle bigger-300"></i><br>
						<div class="text">Cổng thông tin</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/customer-opinion" class="btn btn-salesman btn-sendinfo"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-envelope bigger-300"></i><br>
						<div class="text">Gửi thông tin</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/dashboard" class="btn btn-salesman btn-dashboard"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-dashboard bigger-300"></i><br>
						<div class="text">DashBoard</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/sync" class="btn btn-salesman btn-sync"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-refresh bigger-300"></i><br>
						<div class="text">Đồng bộ</div>
					</div>
				</div></a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 action-change">
			<a href="#/employee-leave" class="btn btn-salesman btn-nppinfo"><div
					class="btn-inside">
					<div class="btn-inside-content">
						<i class="ace-icon fa fa-download bigger-300"></i><br>
						<div class="text">Xin nghỉ phép</div>
					</div>
				</div></a>
		</div>
	</div>
</div>
