<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div id='external-events'>
			<div class='external-event label-success' data-class="label-grey">
				<i class="icon-tag"></i><a href="#/sale/showup" class="white header-sale"> Chương trình
					trưng bày </a>
			</div>
			<div class='external-event label-important'
				data-class="label-success">
				<i class="icon-tag"></i><a href="#/sale/product-sale"  class="white header-sale"> Chương
					trình KM theo đơn</a>
			</div>
			<div class='external-event' data-class="label-primary">
				<i class="icon-tag"></i><a href="#/sale/accumulate"  class="white header-sale">Chương trình
					tích lũy</a>
			</div>
		</div>

	</div>
</div>